In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../../data/eval_reports/cosine_score_comparison.csv')
df.head()

   Question_ID  No_Chunk_Score  Chunked_Score
0            1        0.880854       0.890674
1            2        0.890764       0.892220
2            3        0.892746       0.897721
3            4        0.891314       0.897426
4            5        0.878462       0.884526

In [21]:
#mean of no_chunk_score column
mean_no_chunk_score = df['No_Chunk_Score'].mean()
#mean of chunk_score column
mean_chunk_score = df['Chunked_Score'].mean()
print(f'Cosine score mean without chunking: {mean_no_chunk_score}')
print(f'Cosine score mean with chunking: {mean_chunk_score}')

Cosine score mean without chunking: 0.88715878908
Cosine score mean with chunking: 0.8991157761199999